<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
</head>
<body>
    <h1>Upload File</h1>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}">
        <label for="faceImage">Face Image:</label>
        <input type="file" name="file">
        <br><br>
        <label for="emailID">emailID:</label>
        <input type="text" id="emailID" name="emailID">
        <br><br>
        <label for="encryptedContent">Encrypted Content:</label>
        <textarea id="encryptedContent" name="encryptedContent"></textarea>
        <br><br>
        <label for="contentType">Content Type:</label>
        <select id="contentType" name="contentType">
            <option value="image/png">PNG</option>
            <option value="image/jpeg">JPEG</option>
            <option value="image/gif">GIF</option>
        </select>
        <br><br>
        <input type="submit" value="Upload">
    </form>
    <h1>Get File</h1>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('collect') }}">
        <label for="faceImage">Video</label>
        <input type="file" name="file">
        <br><br>
        <label for="emailID">emailID:</label>
        <input type="text" id="emailID" name="emailID">
        <input type="submit" value="collect">
    </form>
</body>
</html>